<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <!-- first col -->
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
            <input type="text" formControlName="fullName" matInput placeholder="Full Name">
            <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="email" matInput placeholder="Email">
            <mat-error>Invalid Email Error.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="phoneNumber" matInput placeholder="Phone Number">
            <mat-error *ngIf="service.form.controls['phoneNumber'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="service.form.controls['phoneNumber'].errors?.minlength">Invalid Phone Number.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="city" matInput placeholder="City">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <!-- second col -->
    <mat-grid-tile>
      <div class="controles-container">
        <div class="class add-bottom-padding">
          <mat-radio-group formControlName="gender">
              <mat-radio-button value="1">Male</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
              <mat-radio-button value="3">Prefer not to answer</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field>
          <mat-select formControlName="department" placeholder="Department">            
            <ng-container *ngFor="let department of departments">
                <mat-option value="{{department.id}}">{{department.value}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="add-bottom-padding">
            <mat-checkbox formControlName="isPermanent">Full Time Employee</mat-checkbox>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>